.main-form {
  max-width: 500px;
  margin: 40px auto;
  text-align: center;
  height: 500px;
}

.main-title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px 0;
}

#my-new-list {
  list-style: none;
  max-height: 250px;
  overflow: scroll;
  margin-left: -40px;
}

.list-item {
  border: 1px solid black;
  border-top: none;
  line-height: 30px;
  font-size: 20px;
}

.list-item:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}

#result-container {
  margin-top: -150px;
}

#result {
  list-style: none;
  font-size: 20px;
  margin-left: -40px;
}

#result li {
  margin: 0 auto;
}

.item-type {
  border-bottom: 2px solid black;
}


